{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}

{% block extra_js %}
<script>
     $(document).ready(function () {
        // Build the chart
     $('#container').highcharts({
        chart: {
            type: 'column'
        },
            title: {
                text: 'Miembros que Alcanzaron la Primaria (primaria completa + secundaria incompleta + uni. o técnico + estudiando)'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },

            tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in grafo %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
               
                },
                {% endfor %}]
        });
    //grafico eba
     $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'EBA(Finalizado, Activo)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'cuantos',
                data: [ {%for k,v in tabla_eba.items%} 
                          ['{{k}}',{{v}}],
                        {%endfor%}
                   
                ]
                }]
        });
  
    });
</script>
{% endblock extra_js %}

{% block contenido %}
<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador educación</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Grafico</a></li>


      <li id="mas" class="text-right btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">         

     <div class="panel-body">
             {% include "indicadores.html" %}
              <div class="table-responsive">
                 <table class="table" id="myTable">
                 <caption>Educación miembros de la familia</caption>
                 <thead>
                      <tr>
                          <th>Tipo de sexo</th>
                          <th>Total</th>
                          <th>No sabe leer (%)</th>
                          <th>Prim. incompleta (%)</th>
                          <th>Prim. completa (%)</th>
                          <th>Secun. incompleta (%)</th>
                          <th>Secun. completa (%)</th>
                          <th>Uni. o técnico (%)</th>
                          <th>Estudiando (%)</th>
                      </tr>
                  </thead>
                  <tbody>
                  	 {%for fila in tabla_educacion%}
                    <tr>
                        {%for celda in fila %}
                        <td>{{celda}}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                  </tbody>
				</table>
           	 </div>
             <br>
           	 <div class="table-responsive">
                  <table class="table" id="myTable2">
                 <caption>EBA</caption>
                 <thead>
                      <tr>
                          <th>Tipo de sexo</th>
                          <th>Finalizado</th>
                          <th>Activo</th>
                      </tr>
                  </thead>
                  <tbody>
                  	{% for k,v in tabla_eba.items %}
                  		<tr>
                          <td>{{k}}</td>
                          {% for a in v %}
                            <td>{{a}}</td>
                          {% endfor %}
                      	</tr>
                  	{% endfor %}
                  </tbody>
				</table>
           	 </div>
         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->
    
  </div>
</div>
{% endblock contenido %}