{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}

{% block extra_js %}
<script>
     $(document).ready(function () {
        // Build the chart
     $('#container').highcharts({
        chart: {
            type: 'column'
        },
            title: {
                text: 'Miembros que Alcanzaron la Primaria (primaria completa + secundaria incompleta + uni. o técnico + estudiando)'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },

            tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in grafo %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],

                },
                {% endfor %}]
        });
    //grafico eba
    {% if pintar %}
     $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Educacion EBA'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'cuantos',
                data: [ {%for k,v in tabla_eba.items%}
                          ['{{k}}',{{v.estudia_eba|default:0}}],
                        {%endfor%}

                ]
                }]
        });
     {% endif %}

    });
$(function () {
    // Create the chart
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Browser market shares. January, 2015 to May, 2015'
        },
        subtitle: {
            text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [{
                name: "Microsoft Internet Explorer",
                y: 56.33,
                drilldown: "Microsoft Internet Explorer"
            }, {
                name: "Chrome",
                y: 24.03,
                drilldown: "Chrome"
            }, {
                name: "Firefox",
                y: 10.38,
                drilldown: "Firefox"
            }, {
                name: "Safari",
                y: 4.77,
                drilldown: "Safari"
            }, {
                name: "Opera",
                y: 0.91,
                drilldown: "Opera"
            }, {
                name: "Proprietary or Undetectable",
                y: 0.2,
                drilldown: null
            }]
        }],
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador educación</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>


      <li id="mas" class="text-center btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">

     <div class="panel-body">
             {% include "indicadores.html" %}
              <div class="table-responsive">
                 <table class="table" id="myTable">
                 <caption>Educación miembros de la familia</caption>
                 <thead>
                      <tr>
                          <th>Tipo de sexo</th>
                          <th>Total</th>
                          <th>No sabe leer (%)</th>
                          <th>Prim. incompleta (%)</th>
                          <th>Prim. completa (%)</th>
                          <th>Secun. incompleta (%)</th>
                          <th>Secun. completa (%)</th>
                          <th>Uni. o técnico (%)</th>
                          <th>Estudiando (%)</th>
                      </tr>
                  </thead>
                  <tbody>
                  	 {%for fila in tabla_educacion%}
                    <tr>
                        {%for celda in fila %}
                        <td>{{celda}}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                  </tbody>
				</table>
           	 </div>
             <br>
             {% if pintar %}
                <div class="table-responsive">
                  <table class="table" id="myTable2">
                 <caption>Educación EBA</caption>
                 <thead>
                      <tr>
                          <th>Tipo de sexo</th>
                          <th>Estudian EBA</th>
                          <th>Estudia Mined</th>
                          <th>Estudia Universitario</th>
                          <th>Egresado del EBA</th>
                          <th>Egresado del Mined</th>
                      </tr>
                  </thead>
                  <tbody>

                    {% for k,v in tabla_eba.items %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v.estudia_eba|default:0}}</td>
                        <td>{{v.estu_mined|default:0}}</td>
                        <td>{{v.estu_uni|default:0}}</td>
                        <td>{{v.egresado_eba|default:0}}</td>
                        <td>{{v.egresado_mined|default:0}}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
              </table>
             </div>
             {% endif %}

         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              {% if pintar %}
                <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              {% endif %}

            </div>
            </div>
            <div id="container3" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->

  </div>
</div>
{% endblock contenido %}
