{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}
<script>
     $(document).ready(function () {
        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Areas en manzanas'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'manzanas',
                data: [ {%for k,v in lista1.items%} 
                          ['{{k}}',{{v.0}}],
                        {%endfor%}
                   
                ]
                }]
        });
        //Segundo grafico
        $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Fincas que tienen animales'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'aniamles',
                data: [ {%for k,v in animales.items%} 
                          ['{{k}}',{{v.0}}],
                        {%endfor%}
                   
                ]
                }]
        });
    });
</script>
{% endblock extra_js %}

{% block contenido %}
<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador educación</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    {% for k,v in educacion.items %}
        {{k}} --> {{v}} <br>
    {% endfor %}
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Grafico</a></li>


      <li id="mas" class="text-right btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>


    </ul>


      <div class="tab-content">
    <div class="tab-pane active" id="tabla">

              

     <div class="panel-body">
             {% include "indicadores.html" %}
              <div class="table-responsive">
                 <table class="table">
                 <caption>Educación miembros de la familia</caption>
                 <thead>
                      <tr>
                          <th>Areas de las fincas</th>
                          <th>Cuantas fincas</th>
                          <th>%</th>
                      </tr>
                  </thead>
                  <tbody>
                  	{% for k,v in lista1.items %}
                  		<tr>
                          <td>{{k}}</td>
                          <td>{{v.0}}</td>
                          <td>{{v.1}}</td>
                      	</tr>
                  	{% endfor %}
                  </tbody>
				</table>
           	 </div>
           	 <div class="table-responsive">
                 <table class="table">
                 <caption>Animales</caption>
                 <thead>
                      <tr>
                          <th>Tipos animales</th>
                          <th>Cuantos tiene animales</th>
                          <th>%</th>
                          <th>Total de animales</th>
                          <th>Promedio por finca</th>
                      </tr>
                  </thead>
                  <tbody>
                  	{% for k,v in animales.items %}
                  		<tr>
                          <td>{{k}}</td>
                          <td>{{v.0}}</td>
                          <td>{{v.1}}</td>
                          <td>{{v.2}}</td>
                          <td>{{v.3|floatformat:2}}</td>
                      	</tr>
                  	{% endfor %}
                  </tbody>
				</table>
           	 </div>
         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->
    
  </div>
</div>
{% endblock contenido %}