{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}
<script>
     $(document).ready(function () {
        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Areas en manzanas'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'manzanas',
                data: [ {%for k,v in lista1.items%}
                          ['{{k}}',{{v.0}}],
                        {%endfor%}

                ]
                }]
        });
        //Segundo grafico
        $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Fincas que tienen animales'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'animales',
                 data: [{
                    name: "Bovino",
                    y: {{bovino}}
                }, {
                    name: "Porcino",
                    y: {{porcino}},
                    sliced: true,
                    selected: true
                }, {
                    name: "Equino",
                    y: {{equino}}
                }, {
                    name: "Aves",
                    y: {{aves}}
                }, {
                    name: "Caprino",
                    y: {{caprino}}
                }]
                }]
        });
    });
</script>
{% endblock extra_js %}

{% block contenido %}
<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador general</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>


      <li id="mas" class="text-center btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>


    </ul>


      <div class="tab-content">
    <div class="tab-pane active" id="tabla">



     <div class="panel-body">
             {% include "indicadores.html" %}
              <div class="table-responsive">
                 <table class="table" id="myTable">
                 <caption>Areas en manzanas</caption>
                 <thead>
                      <tr>
                          <th>Areas de las fincas</th>
                          <th>Cuantas fincas</th>
                          <th>%</th>
                      </tr>
                  </thead>
                  <tbody>
                  	{% for k,v in lista1.items %}
                  		<tr>
                          <td>{{k}}</td>
                          <td>{{v.0}}</td>
                          <td>{{v.1}}</td>
                      	</tr>
                  	{% endfor %}
                  </tbody>
				</table>
           	 </div>
           	 <div class="table-responsive">
                 <table class="table" id="myTable">
                <caption>Tabla animales</caption>
                <thead>
                   <tr>
                     <th>Animales</th>
                     <th>Frecuencia Finca</th>
                     <th>Porcentajes (%)</th>
                     <th>Total Animales</th>
                     <th>Promedio</th>
                   </tr>
               </thead>
               <tr>
                <td>Bovino</td>
                 <td>{{ bovino }}</td>
                 <td>{{ por_bovino|floatformat:0 }}</td>
                 <td>{{ sum_bovino.finca__animal_bovino__sum|floatformat:0 }}</td>
                 <td>{{ pro_bovino.finca__animal_bovino__avg|floatformat:0  }}</td>
              </tr>
              <tr>
                <td>Porcino</td>
                 <td>{{ porcino }}</td>
                 <td>{{ por_porcino|floatformat:0 }}</td>
                 <td>{{ sum_porcino.finca__animal_porcino__sum|floatformat:0  }}</td>
                 <td>{{ pro_porcino.finca__animal_porcino__avg|floatformat:0  }}</td>
              </tr>
              <tr>
                <td>Equino</td>
                <td>{{ equino }}</td>
                <td>{{ por_equino|floatformat:0 }}</td>
                 <td>{{ sum_equino.finca__animal_equino__sum|floatformat:0  }}</td>
                 <td>{{ pro_equino.finca__animal_equino__avg|floatformat:0  }}</td>
              </tr>
              <tr>
                <td>Aves</td>
                 <td>{{ aves }}</td>
                 <td>{{ por_aves|floatformat:0 }}</td>
                 <td>{{ sum_aves.finca__animal_aves__sum|floatformat:0  }}</td>
                 <td>{{ pro_aves.finca__animal_aves__avg|floatformat:0  }}</td>
              </tr>
              <tr>
                <td>Caprino</td>
               <td>{{ caprino }}</td>
               <td>{{ por_caprino|floatformat:0 }}</td>
                 <td>{{ sum_caprino.finca__animal_caprino__sum|floatformat:0 }}</td>
                 <td>{{ pro_caprino.finca__animal_caprino__avg|floatformat:0  }}</td>
              </tr>
                </table>
           	 </div>
         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->

  </div>
</div>
{% endblock contenido %}
