{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}


{% block extra_js %}
<script type="text/javascript">

$(function () {
    // Create the chart
  $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Ingreso por SAF (No organizado)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                data: [ {%for k ,v in data.items%}
                          ['{{k }} - C${{v.venta_no|calculaIngreso:v.precio_promedio_no|floatformat:2}}',{{v.venta_no|calculaIngreso:v.precio_promedio_no|floatformat:2}}],
                        {%endfor%}

                ]
                }]
        });

 $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Ingreso por SAF (Organizado)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                data: [ {%for k ,v in data.items%}
                          ['{{k }} - C${{v.venta_organizada|calculaIngreso:v.precio_promedio_orga|floatformat:2}}',{{v.venta_organizada|calculaIngreso:v.precio_promedio_orga|floatformat:2}}],
                        {%endfor%}

                ]
                }]
        });

}); //fin de la funcion
</script>
{% endblock extra_js %}

{% block contenido %}
    <br><br><br><br><br><br>
<div class="container">
    <hr class="separador">
<h3 class="text-success">Indicador Ingresos por productos SAF</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>


      <li id="mas" class="text-center btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">

     <div class="panel-body">
             {% include "indicadores.html" %}
              <div class="table-responsive">
                 <table class="table" id="myTable">
                 <caption>Tipos de saf (no organizado)</caption>
                 <thead>
                      <tr>
                          <th>Tipos</th>
                          <th>Total Cantidad de unidades por año(no organizado)</th>
                          <th>Precio promedio(no organizado)</th>
                          <th>Total ingreso anual en C$ </th>
                      </tr>
                  </thead>
                  <tbody>
                  {%for k,v in data.items%}
                  <tr>
                      <td>{{k}}</td>
                      <td>{{v.venta_no|floatformat:2}}</td>
                      <td>{{v.precio_promedio_no|floatformat:2}}</td>
                      <td>{{v.venta_no|calculaIngreso:v.precio_promedio_no|floatformat:2}}</td>
                  </tr>
                  {%endfor%}
                  </tbody>
                </table>
             </div>

            <br><br>
            <div class="table-responsive">
                 <table class="table" id="myTable">
                 <caption>Tipos de saf (organizado)</caption>
                 <thead>
                      <tr>
                          <th>Tipos</th>
                          <th>Total Cantidad de unidades por año(organizado)</th>
                          <th>Precio promedio(organizado)</th>
                          <th>Total ingreso anual en C$ </th>
                      </tr>
                  </thead>
                  <tbody>
                  {%for k,v in data.items%}
                  <tr>
                      <td>{{k}}</td>
                      <td>{{v.venta_organizada|floatformat:2}}</td>
                      <td>{{v.precio_promedio_orga|floatformat:2}}</td>
                      <td>{{v.venta_organizada|calculaIngreso:v.precio_promedio_orga|floatformat:2}}</td>
                  </tr>
                  {%endfor%}
                  </tbody>
                </table>
             </div>

         </div>
    </div>


          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->

  </div>
</div>
{% endblock contenido %}
