{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}

{% block extra_js %}
<script>

$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Innovaciones aplicadas en las finca (SI)'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Porcentajes (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> del total<br/>'
        },

        series: [{
            name: "Innovación",
            colorByPoint: true,
            data: [
            {% for k,v in data.items %}
              {% if  v.0 >= 60 %}
                {
                      name: "{{k}}",
                      y: {{v.0|calculaperct:a|floatformat:2}},
                },
              {% endif %}
              {% endfor %}
            ]
        }],
    });
});

$(function () {
    // Create the chart
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Innovaciones aplicadas en las finca (NO)'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Porcentajes (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> del total<br/>'
        },

        series: [{
            name: "Innovación",
            colorByPoint: true,
            data: [
            {% for k,v in data.items %}
              {% if  v.1 >= 246 %}
                {
                      name: "{{k}}",
                      y: {{v.1|calculaperct:a|floatformat:2}},
                },
              {% endif %}
              {% endfor %}
            ]
        }],
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
	<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador innovaciones</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>


      <li id="mas" class="text-center btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">

     <div class="panel-body">
             {% include "indicadores.html" %}
             {% if user.is_authenticated %}
                <a href="/exportar/7/"><strong>Descargar Excel</strong></a>
              {% endif %}
              <div class="table-responsive">
                  <table class="table" id="myTable">
                 <caption>Innovación aplicada en la finca</caption>
                 <thead>
                      <tr>
                          <th>Innovaciones</th>
                          <th>Porcentaje SI</th>
                          <th> Porcentaje NO</th>
                      </tr>
                  </thead>
                  <tbody>
                  {%for k,v in data.items%}
                  <tr>

                      <td>
                          {{k}}
                      </td>
                      <td>
                          {{v.0|calculaperct:a|floatformat:2}} %
                      </td>
                      <td>
                          {{v.1|calculaperct:a|floatformat:2}} %
                      </td>

                  </tr>
                  {%endfor%}
                  </tbody>
				</table>
           	 </div>
         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->

  </div>
</div>
{% endblock contenido %}
