{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}

{% block contenido %}
	<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador innovaciones</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>


      <li id="mas" class="text-right btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">         

     <div class="panel-body">
             {% include "indicadores.html" %}
              <div class="table-responsive">
                  <table class="table" id="myTable">
                 <caption>Innovación aplicada en la finca</caption>
                 <thead>
                      <tr>
                          <th>Innovaciones</th>
                          <th>% si</th>
                          <th>% no</th>
                      </tr>
                  </thead>
                  <tbody>
                  {%for k,v in data.items%}
                  <tr>
                    
                      <td>
                          {{k}}
                      </td>
                      <td>
                          {{v.0}}
                      </td>
                      <td>
                          {{v.1}}
                      </td>
                                           
                  </tr>
                  {%endfor%}
                  </tbody>
				</table>
           	 </div>
         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->
    
  </div>
</div>
{% endblock contenido %}