{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}

{% block extra_js %}
<script>
$(function () {
    // Create the chart
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Compran alimentos por clasificacion'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Conteos'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [

                {
                    name: 'Carbohidratos',
                    y: {{carbohidrato}},
                },
                {
                    name: 'Vitaminas',
                    y: {{vitaminas}},
                },
                {
                    name: 'Grasas',
                    y: {{grasas}},
                },
                {
                    name: 'Proteínas',
                    y: {{proteinas}},
                },
                {
                    name: 'Minerales',
                    y: {{minerales}},
                },

              ]
        }]
    });
});
</script>
{% endblock %}

{% block contenido %}
	<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador seguridad alimentaria</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>


      <li id="mas" class="text-center btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">

     <div class="panel-body">
             {% include "indicadores.html" %}
             {% if user.is_authenticated %}
                <a href="/exportar/6/"><strong>Descargar Excel</strong></a>
              {% endif %}
              <div class="table-responsive">
                  <table class="table" id="myTable">
                 <caption>Seguridad Alimentaria</caption>
                 <thead>
                      <tr>
                          <th>Alimentos</th>
                          <th>Compran</th>
                          <th>%</th>
                          <th>Nivel de consumo diario</th>
                          <th>%</th>
                          <th>Nivel de consumo semanal</th>
                          <th>%</th>
                          <th>Nivel de consumo ocacional</th>
                          <th>%</th>
                          <th>Nivel de consumo NO</th>
                          <th>%</th>
                      </tr>
                  </thead>
                  <tbody>
                  {%for k,v in productos_sa.items%}
                  <tr>
                      <td>{{k}}</td>
                      <td>{{v.0}}</td>
                      <td>{{v.0|calculaperct:a|floatformat:2}}</td>
                      <td>{{v.1}}</td>
                      <td>{{v.1|calculaperct:a|floatformat:2}}</td>
                      <td>{{v.2}}</td>
                      <td>{{v.2|calculaperct:a|floatformat:2}}</td>
                      <td>{{v.3}}</td>
                      <td>{{v.3|calculaperct:a|floatformat:2}}</td>
                      <td>{{v.4}}</td>
                      <td>{{v.4|calculaperct:a|floatformat:2}}</td>
                  </tr>
                  {%endfor%}
                  </tbody>
				</table>
           	 </div>
         </div>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container1" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->

  </div>
</div>
{% endblock contenido %}
