{% extends "base.html" %}

{% load staticfiles %}
{% load ayudar %}

{% block extra_js %}
<script>
     $(document).ready(function () {
        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Uso de tierra [conteo]'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                data: [ {%for k in resultados2%}
                            ['{{k.0}}',{{k.1}}],

                        {%endfor%}

                ]
                }]
        });
   });

$(function () {
    // Create the chart
    $('#container22').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Uso de tierra [Areas totales]'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Porcentajes (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
              {% for value in resultados2 %}
                {
                    name: '{{value.0}}',
                    y: {{value.4}},
                },
              {% endfor %}
              ]
        }]
    });
});
</script>
{% endblock %}

{% block contenido %}
	<br><br><br><br><br><br>
<div class="container">
	<hr class="separador">
<h3 class="text-success">Indicador uso de tierra</h3>
<hr class="separador">
{% include "encuesta/breabcrumbs.html" %}
<div class="row" id="formularios">
    {% include "formulario.html" %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#tabla" data-toggle="tab">Tabla</a></li>
        <li><a href="#grafico" data-toggle="tab">Gráfico</a></li>

      <li id="mas" class="text-center btnindicador">
        <span id="estado">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </span> Cambiar de Indicador
      </li>
    </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="tabla">

     <div class="panel-body">
             {% include "indicadores.html" %}
             {% if user.is_authenticated %}
                <a href="/exportar/9/"><strong>Descargar Excel</strong></a>
              {% endif %}
              <div class="table-responsive">
                  <table class="table" id="myTable">
                 <caption>Uso de tierra</caption>
                 <thead>
                      <tr>
                          <th>Uso</th>
                          <th>Conteo</th>
                          <th>%</th>
                          <th>Areas totales</th>
                          <th>%</th>
                      </tr>
                  </thead>
                  <tbody>
                  {%for item in data%}
                  <tr>
                    {% for cosito in item%}
                      <td>
                          {{cosito}}
                      </td>
                    {%endfor%}
                  </tr>
                  {%endfor%}
                  </tbody>
				      </table>
           	 </div>
         </div>
         <p>Formula: <code>(bosque primario * 1) + (bosque secundario * 0.7) + (cultivos anuales * 0.5) + (cultivos perennes * 0.5) + (cultivos semiperennes * 0.5) + (plantaciones forestales * 1) + (potrero con arboles * 0.3) + (potrero sin arboles * 0.5) + (tacotales * 0.5) / (total uso * 100 ) </code></p>
            <table class="table">
                 <caption>% cobertura boscosa</caption>
                 <thead>
                      <tr><th>% Cobertura boscosa</th></tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>{{porcentaje_cobertura}} %</td>
                  </tr>
                  </tbody>
              </table>
    </div>



          <div class="tab-pane" id="grafico">
               <div class="panel-body" >
                  {% include "indicadores.html" %}
            <div class="container-fluid ">
              <div id="container" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
              <br>
              <div id="container22" style="max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            </div>
          </div>



      </div>
    </div> <!-- terminas las tablas -->

  </div>
</div>
{% endblock contenido %}
