{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
<link type="text/css" rel="stylesheet"  href="/static/css/select2.css" >
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/select2.js"></script>
<script type="text/javascript" src="/static/js/my_customjs.js"></script>
{% endblock %}