#seguridadsaf_set-group input {
	width: 60px;
}

#seguridadcanuales_set-group input {
	width: 60px;
}

#seguridadcanuales_set-2-group input {
	width: 60px;
}

#seguridadpanimal_set-group input {
	width: 60px;
}