#seguridadsaf_set-group input {
	width: 60px;
}

#seguridadcanuales_set-group input {
	width: 60px;
}

#seguridadcanuales_set-2-group input {
	width: 60px;
}

#seguridadpanimal_set-group input {
	width: 60px;
}

#seguridadpprocesados_set-group input {
	width: 60px;
}
#id_finca_set-0-nombre_productor_0 {
	width: 300px;
}