{% extends "base.html" %}
{% load staticfiles %}
{% block contenido %}

<br><br><br><br>
    <div class="container">
      
        <h3 class="text-success">Ayuda del Sistema</h3>
      
      <div class="descripcion">
          <hr class="separador2">
          <div class="row">
          <div class=".col-xs-* col-md-* col-lg-4">
          </div>
          <div class="col-md-12 col-lg-4">
              <h4 class="text-info">Bienvenidos al Sistema ADDAC-FADCANIC</h4>
          </div>
          <div class="col-md-12 col-lg-4">
              <button id="descarga" type="button " class="btn btn-primary">Descargar Manual de usuario</button>
          </div>
          </div>
          <hr class="separador2">
        <p>El sistema de información del  programa de agendas de innovación fue desarrollado a partir de la línea de base de los socios y socias de ADDAC y FADCANIC, destacando información de los diferentes componentes productivos e innovación con el financiamiento de la real embajada de Noruega.</p>
      </div>
      <div class="uso">
      <hr class="separador2">
        <h4 class="text-info">Como usar Sistema ADDAC-FADCANIC</h4>
      <hr class="separador2">
        <p class="text-left">
        La plataforma funciona prácticamente como un sitio web, que puede ser explorado por cualquier usuario que visita el sitio.La página de inicial nos muestra un “menú principal”, donde se puede visualizar la siguiente información:
        </p>
        <img src="{% static 'img/ayuda/1.png' %}" width="100%">
        <br>
        <h3><strong>Inicio</strong></h3>
        <p>
          Donde se presentarán gráficos de los datos obtenido de las encuestas realizadas en años anteriores separadas por organización y un pie de pagina con una breve información del sistema.
        </p>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <img class="pull-right" src="{% static 'img/ayuda/2.png' %}" width="50%">
          </div>
          <div class="col-lg-8">
            <p>
              Gráficos Generales, estos gráficos muestran la cantidad de personas que nos saben leer por organización.
              <br>
              Mini Gráficos, Estos gráficos muestran la legalidad de la propiedad, el propietario de la propiedad y el uso del crédito de los datos de cada año de encuesta dividido en ambas organizaciones.
            </p>
          </div>

        </div>
        <h3><strong>Formulario</strong></h3>
          <div class="row">
          <div class="col-lg-8">
            
          </div>
          <div class="col-lg-4">
            <img class="pull-right" src="{% static 'img/ayuda/2.png' %}" width="50%">
          </div>

        </div>
      </div>
    </div>

{% endblock contenido %}