{% extends "base.html" %}
{% load staticfiles %}

{% block extra_js %}
<script type="text/javascript">
/*$(window).load(function(){ introJs().start(); })*/
$(document).ready(function() { 

$("#id_fecha").select2({
  maximumInputLength: 10,
});

 });
</script>

{% endblock extra_js %}

{% block contenido %}
<!--Tabla y Grafico -->
<br><br><br><br>
<div class="container">
<hr class="separador">
<h3 class="text-success">Sistema de información de agroforesteria</h3>
<div id="prueba"></div>
<hr class="separador">
  <div class="row" id="formularios">
    {% include "formulario.html" %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    {% if centinela %}     
      <ul class="row">

            <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="/generales">
                  <span>Generales</span>
                  <br>
                  <br>
                  <label for="" class="fa fa-users fa-2x"></label>
              </a>
            </li>

             <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="/detalle_casas">
                <span class="">Detalle de casa</span>
                <br>
                <label for="" class="fa fa-home fa-2x"></label>
              </a>
            </li>

            <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="/educacion">
                <span class="">Educación</span>
                <br>
                <br>
                <label for="" class="fa fa-graduation-cap fa-2x"></label>
              </a>
            </li>

            <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="/cultivos_anuales">
                <span class="">Ingresos anuales</span>
                <br>
                <label for="" class="glyphicon">C</label>
                <label for="" class="fa fa-usd fa-2x"></label>
              </a>
            </li>

            <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
            <a href="#">
              <span class="">Ingresos en p. animal</span>
              <br>
              <label for="" class="glyphicon">C</label>
              <label for="" class="fa fa-usd fa-2x"></label>
            </a>
            </li>

            <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="/ingreso_procesados">
                <span class="">Ingresos p. procesados</span>
                <br>
                <label for="" class="glyphicon">C</label>
                <label for="" class="fa fa-usd fa-2x"></label>
              </a>
            </li>

             <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="#">
                <span class="">Ingresos en s. negocios</span>
                <br>
                <label for="" class="glyphicon">C</label>
                <label for="" class="fa fa-usd fa-2x"></label>
              </a>
            </li>

              <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="#">
                <span class="">Ingresos p. SAF</span>
                <br>
                <label for="" class="glyphicon">C</label>
                <label for="" class="fa fa-usd fa-2x"></label>
              </a>
            </li>

            <li class="indica col-xs-5 col-sm-5 col-md-3 col-lg-2">
              <a href="/seguridad_alimentaria">
                <span class="">Seguridad Alimentaria</span>
                <br>
                <label for="" class="fa fa-cutlery fa-2x"></label>
              </a>
            </li>

            <li class="indica col-xs-5 col-sm-4 col-md-3 col-lg-2">
              <a href="/credito">
                <span class="">Credito</span>
                <br>
                <br>
                <label for="" class="fa fa-credit-card fa-2x"></label>
              </a>
            </li>

            <li class="indica col-xs-5 col-sm-4 col-md-3 col-lg-2">
              <a href="/tierra">
                <span class="">Uso de tierra</span>
                <br>
                <br>
                <label for="" class="glyphicon glyphicon-tree-deciduous"></label>
              </a>
            </li>

             <li class="indica col-xs-5 col-sm-4 col-md-3 col-lg-2">
              <a href="/innovacion">
                <span class="">Innovación</span>
                <br>
                <br>
                <label for="" class="fa fa-lightbulb-o fa-2x"></label>
              </a>
            </li>

          </ul>

  
  {% else %}
  <div class="alert alert-info alerta" role="alert">
  <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="fa fa-arrow-left fa-2x hidden-xs hidden-sm"></span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <p>Primero realize la consulta para que aparezacan los indicadores</p>
      </div>
</div>

  </div>


  {% endif %}
  </div> 
  </div>

</div>


{% endblock contenido %}
