{% extends "base.html" %}

{% block extra_js %}
{% endblock extra_js %}
{% block contenido %}
<!--Tabla y Grafico -->
<br><br><br><br>
<div class="container">
<hr class="separador">
<h3 class="text-success">Sistema de información de agroforesteria</h3>
<hr class="separador">
  <div class="row" id="formularios">
    {% include "formulario.html" %}

    {% if centinela %}
      Hizo la consulta
      <a href="/generales">Generales</a> <br>
      <a href="/detalle_casas">Detalle de casa</a> <br>
      <a href="/educacion">Educación de la familias</a> <br>
    
  {% else %}
      <p>Primero realize la consulta para que aparezacan los indicadores</p>  
  {% endif %}
  </div>

</div>

{% endblock contenido %}
