{% load staticfiles %}
<div id="footer">
<div class="container">
   

    <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
 
        <h4>Descripción del Sistema</h4>

        <p>El sistema de información de agroforesteria fue desarrollado a partir de la linea de base del proyecto de agroforesteria y beneficiarios de ADDAC y FADCANIC, destacando información de los diferentes componentes productivos
        </p>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>Patrocinado por:</h4>
   

          <img class="center-block" src="{% static 'img/4.png' %}"  alt="" width="30%">

  
        
          <p class="text-center">Real Embajada de Noruega</p>

            
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="ftext">
      <h4>Desarolladores:</h4>
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <a href="http://www.fadcanic.org.ni/"><img class="pull-right" src="{% static 'img/1.png' %}"></a>
      </div>
      <div class="col-xs-12 col-sm-12  col-md-7 col-lg-7">
      <br>
        <p>Fundación para la Autonomía y el Desarrollo de la Costa Atlántica</p>
      </div>
      </div>
      <br>
      <div class="row" >
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
       <a href="http://addac.org.ni/"> <img class="pull-right" src="{% static 'img/2.png' %}"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <p>Fundación para la Autonomía y el Desarrollo de la Costa Atlántica</p>
      </div>
        </div>
      </div>

 
 </div>


</div> 
<div class="container-fluid" id="simas">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
  <br>
      <p>Desarrollado por <a href="http://simas.org.ni/">SIMAS</a> 2014</p>
  </div>
  </div>   
</div>