{% extends "base.html" %}
{% load staticfiles %}

<!-- {% block extra_js %}
  <script>
$(function () {
    $('#contenedor1').highcharts({
        title: {
            text: 'Personas que no saben leer FADCANIC'
        },
        xAxis: {
            categories: ['2009', '2011', '2013']
        },
        labels: {
            items: [{
                html: 'Totales analfabetas',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{% for k,v in analfabetismo_fad.items %}         
                  {
                      type: 'column',
                      name: '{{k}}',
                      data: [{% for valor in v %}{{valor}},{% endfor %}]
                  }, 
                {% endfor %}
              ]
    });
    //segundo grafico
    $('#contenedor2').highcharts({
        title: {
            text: 'Personas que no saben leer ADDAC'
        },
        xAxis: {
            categories: ['2009','2011','2013']
        },
        labels: {
            items: [{
                html: 'Totales analfabetas',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{% for k,v in analfabetismo_addac.items %}
                  
                        {
                            type: 'column',
                            name: '{{k}}',
                            data: [{% for valor in v %}{{valor}},{% endfor %}]
                        },
                      
                    {% endfor %}
              ]
    });
    // grafico sobre legalidad de la propiedad
        // Build the chart
        $('#contenedor3').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Legalidad de la propiedad(sin documento)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '',
                data: [ {% for k,v in legalidad_addac.items %}
                            ['{{k}}', {{v}}],
                        {% endfor %}
                ]
            }]
        });
      //grafico otro
      $('#contenedor4').highcharts({
        title: {
            text: 'Propietario de la finca'
        },
        xAxis: {
            categories: ['2009', '2011', '2013']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{% for k,v in propietario_addac.items %}         
                  {
                      type: 'column',
                      name: '{{k}}',
                      data: [{% for valor in v %}{{valor}},{% endfor %}]
                  }, 
                {% endfor %}
              ]
    });
      // otro grafo
   $('#contenedor5').highcharts({
        title: {
            text: 'Uso de credito'
        },
        xAxis: {
            categories: ['2009', '2011', '2013']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{% for k,v in credito_addac.items %}         
                  {
                      type: 'column',
                      name: '{{k}}',
                      data: [{% for valor in v %}{{valor}},{% endfor %}]
                  }, 
                {% endfor %}
              ]
    });
        // otro grafo mas
         $('#contenedor6').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Legalidad de la propiedad(sin documento)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '',
                data: [ {% for k,v in legalidad_fadcanic.items %}
                            ['{{k}}', {{v}}],
                        {% endfor %}
                ]
            }]
        });
        // otro grafo mas 
        $('#contenedor7').highcharts({
        title: {
            text: 'Propietario de la finca'
        },
        xAxis: {
            categories: ['2009', '2011', '2013']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{% for k,v in propietario_fadcanic.items %}         
                  {
                      type: 'column',
                      name: '{{k}}',
                      data: [{% for valor in v %}{{valor}},{% endfor %}]
                  }, 
                {% endfor %}
              ]
    });
        // otro grafo
         $('#contenedor8').highcharts({
        title: {
            text: 'Uso del credito'
        },
        xAxis: {
            categories: ['2009', '2011', '2013']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{% for k,v in credito_fadcanic.items %}         
                  {
                      type: 'column',
                      name: '{{k}}',
                      data: [{% for valor in v %}{{valor}},{% endfor %}]
                  }, 
                {% endfor %}
              ]
    });
  

});//fin function
  </script>
{% endblock extra_js %} -->

{% block contenido %}
 <!-- About Section -->
<section id="slider">
    <div id="carousel-example-generic" class="carousel slide slider" data-ride="carousel">
                  <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                           
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'img/1.jpg' %}" alt="...">                          
            </div>
            <div class="item">
                <img src="{% static 'img/2.jpg' %}" alt="...">                      
            </div>
            <div class="item">
                <img src="{% static 'img/3.jpg' %}" alt="...">                         
            </div>                       
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>               
        
    </div>
</section>

 <!-- Estadisticas -->
<div class="container">
<hr class="separador">
<h3 class="text-success">Estadísticas Generales</h3>
<hr class="separador">
    <hr>

<div class="panel panel-default panelgrafico">


<div id="addac" class="row">

  <div class="col-md-2">
   <span>
      <h3 class="text-success">ADDAC</h3>
      </span>
  </div>
  <div class="col-xs-2 col-md-2 cd">
      <span>
      <i class="fa fa-male fa-2x"> 500</i>
      <br>
      <h6>Hombres</h6>
      </span>
  </div>

    <div class="col-xs-2 col-md-2 cd">
      <span>
      <i class="fa fa-female fa-2x"> 499</i>
      <br>
      <h6>Mujeres</h6>
      </span>
  </div>

    <div class="col-xs-2 col-md-2 cd">
      <span>
      <i class="fa fa-book fa-2x"> 999</i>
      <br>
      <h6>Total</h6>
      </span>
  </div>
   
<div class="col-xs-2 col-md-2 cd">
   <span>
      <i class="fa fa-group fa-2x"> 7</i>
      <br>
      <h6>Familia Promedio</h6>
      </span>
  </div>

  <div class="col-xs-2 col-md-2 cd">
   <span>
      <i class="fa fa-tree fa-2x"> 14.6</i>
      <br>
      <h6>Promedio Manzanas</h6>
      </span>
  </div>

  <div class="col-xs-2 col-md-2 col-md-offset-2 cd">
   <span>
      <i class="fa fa-book fa-2x"> 14.6</i>
      <br>
      <h6>Promedio Manzanas</h6>
      </span>
  </div>

  <div class="col-xs-2 col-md-2 cd">
   <span>
      <i class="fa fa-book fa-2x"> 14.6</i>
      <br>
      <h6>Promedio Manzanas</h6>
      </span>
  </div>
</div>

<div id="fadcanic" class="row">
  <div class="col-md-2">
   <span>
      <h3 class="text-success">FADCANIC</h3>
      </span>
  </div>
  <div class="col-xs-2 col-md-2 cd">
      <span>
      <i class="fa fa-male fa-2x"> 500</i>
      <br>
      <h6>Hombres</h6>
      </span>
  </div>

    <div class="col-xs-2 col-md-2 cd">
      <span>
      <i class="fa fa-female fa-2x"> 499</i>
      <br>
      <h6>Mujeres</h6>
      </span>
  </div>

    <div class="col-xs-2 col-md-2 cd">
      <span>
      <i class="fa fa-book fa-2x"> 999</i>
      <br>
      <h6>Total</h6>
      </span>
  </div>
   
<div class="col-xs-2 col-md-2 cd">
   <span>
      <i class="fa fa-group fa-2x"> 7</i>
      <br>
      <h6>Familia Promedio</h6>
      </span>
  </div>

  <div class="col-xs-2 col-md-2 cd">
   <span>
      <i class="fa fa-tree fa-2x"> 14.6</i>
      <br>
      <h6>Promedio Manzanas</h6>
      </span>
  </div>



  <div class="col-xs-2 col-md-2 col-md-offset-2 cd">
   <span>
      <i class="fa fa-book fa-2x"> 14.6</i>
      <br>
      <h6>Promedio Manzanas</h6>
      </span>
  </div>

  <div class="col-xs-2 col-md-2 cd">
   <span>
      <i class="fa fa-book fa-2x"> 14.6</i>
      <br>
      <h6>Promedio Manzanas</h6>
      </span>
  </div>
</div>
</div> 
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

   <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  

    <div class="row">
    <hr class="separador">
        <h3 class="text-success">Información del Sistema</h3>
        <hr class="separador">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="panel panel-default panelgrafico">
       
            <div class="panel-body">
              
              <!-- <div id="contenedor1" style="max-width: 600px; height: 400px; margin: 0 auto" class="center-block"></div> -->
              <div class="col-lg-7 col-md-12 col-xs-12">
                <p>El programa agenda de Innovación y Desarrollo de las comunidades Multietnicas para Enfrentar de Manera Exitosa el reto del Cambio Climático y el Mercado Globalizado ejecutado por FADCANIC en la Región Autónoma del caribe Sur (municipios de Bluefields, El Rama, Kukra Hill, Laguna de Perlas, Perlas, Desembocadura del Río Grande, y El Tortuguero) y por ADDAC en el municipio de Rancho Grande (departamento de Matagalpa) y Waslala (RAAN), es un seguimiento del programa Innovación fase I, que fue desarrollado entre los años 2009 al 2013, el mismo tiene por lema “anclando las Lecciones del Programa de Innovación Agroforestal del Trópico Húmedo de Nicaragua”.</p>
              </div>
              
              <div class="col-lg-5 col-md-12 col-xs-12">
                <img src="{% static 'img/1c.png' %}" alt="">
              </div>

      
     
              
                  <!-- <div id="contenedor1" style="max-width: 600px; height: 400px; margin: 0 auto" class="center-block"></div> -->
             
                    <div class="col-lg-5 col-md-12 col-xs-12 paraf">
                      <img src="{% static 'img/2c.png' %}" alt="">
                    </div>

                    <div class="col-lg-7 col-md-12 col-xs-12 paraf">
                       <p>La finalidad del programa radica en que las familias rurales pobres, organizaciones comunitarias y cooperativas del trópico húmedo de Nicaragua, innoven sistemas de desarrollo local sostenible con equidad que les permita mejorar las estrategias de vida y conservar los recursos naturales.</p>            

              <p>Los principales objetivos del programa son:</p> 
                
                <ol>

                  <li>Mejoramiento sostenible de los ingresos, seguridad alimentaria y salud ambiental de 3,000 familias en 8 municipios pobres de la zona del trópico húmedo quienes de manera organizada ejecutan su agenda de innovación y desarrollo. </li>

                  <li>Asegurada la integración activa y efectiva de las organizaciones socias, gremiales y líderes comunales en los espacios municipales de incidencia y en la formulación de políticas públicas a nivel regional (RAAS) y nacional.</li>
                  </ol>
              </div>
                
         


<div class="col-lg-12 col-md-12 col-xs-12 paraf">
                    <br>
                    <p>Mediante el sistema de línea base en la Web, se espera se pueda visualizar de manera comparativa el antes y después de la implementación del programa con los siguientes resultados en las familias socias del programa: </p>
                    <ol>
                      <li>Organizaciones comunitarias y familias socias ponen en práctica nuevas capacidades de mitigación, adaptación y resiliencia al Cambio Climático (SSAN, bienestar familiar, saneamiento ambiental).</li>
                      <li>Familias socias cuentan con fuentes de ingresos continuas y diversas con potencial de crecimiento producto de las actividades empresariales. </li>
                      <li>Organizaciones comunitarias juntas a ADDAC Y FADCANIC ejecutan modelos innovativos sostenibles (Crédito, tecnologías, metodologías, materiales genéticos y comercialización organizada).</li>
                      <li>Organizaciones comunitarias son protagonistas a nivel local y regional en la defensa de sus recursos naturales y derechos.</li>
                      <li>Organizaciones socias y líderes de los territorios ponen en práctica la gobernanza local comunitaria con participación activa de mujeres y jóvenes.</li>
                      <li>Organizaciones socias, organizaciones gremiales, ADDAC y FADCANIC forman parte de las plataformas de desarrollo sostenible a nivel nacional. </li>
                      <li>Organizaciones socias, organizaciones gremiales, ADDAC y FADCANIC, incorporan sus propuestas en los planes de desarrollo y proyectos a nivel municipal y regional (RAAS) </li>
                      <li>Procesos educativos locales implementados con la incorporación de los aprendizajes del Programa.</li>
                    </ol> 

              
        </div>

    </div> 
</div>
   </div>
        </div>
        </div>
        <!-- /Graficos -->

<!--miniGraficos ADDAC-->
<!-- <div id="addac"class="container">
<hr class="separador">
<h3 class="text-success">Mini Gráficos Informativos ADDAC</h3>
<hr class="separador">
  <div class="row">
    <div id=""class="col-xs-12 col-md-4 col-lg-4 wow animated fadeInLeft" data-wow-delay="">
      
      <div class="panel panel-default">

          <div class="panel-heading">

            
            <h3>Legalidad</h3>

          </div>

          <div class="panel-body">
              
              <div id="contenedor3" style="max-width: 400px; height: 400px; margin: 0 auto"></div>
              </div>       
          </div>

      </div>

 
     <div  id="fade2"  class="col-xs-12 col-md-4 col-lg-4 wow animated fadeInLeft" data-wow-delay="0.25s">
      <div class="panel panel-default">

          <div class="panel-heading">
            
            <h3>Propietario</h3>

          </div>
        
          <div class="panel-body">
           <div id="contenedor4" style="max-width: 400px; height: 400px; margin: 0 auto"></div>

          </div>
      </div>
    </div>
    <div  id="fade3" class="col-xs-12 col-md-4 col-lg-4 wow animated fadeInLeft" data-wow-delay="0.5s">

      <div class="panel panel-default">

          <div class="panel-heading">
            
            <h3>Crédito</h3>

          </div>

          <div class="panel-body">

            <div id="contenedor5" style="max-width: 400px; height: 400px; margin: 0 auto"></div>
          </div>
          
      </div>
    </div>
       </div>
    </div> FIN miniGraficos ADDAC-->

<!--miniGraficos FADCANIC-->
<!-- <div id="fadcanic" class="container">
  <hr class="separador">
  <h3 class="text-success">Mini Gráficos Informativos FADCANIC</h3>
  <hr class="separador">
  <div class="row">
<div class="col-xs-12 col-md-4 col-lg-4 wow animated fadeInRight" data-wow-delay="0.5s">
  
    <div class="panel panel-default">

        <div class="panel-heading">
          
          <h3>Legalidad</h3>

        </div>

        <div class="panel-body">
           <div id="contenedor6" style="max-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        
    </div>

</div>
 <div class="col-xs-12 col-md-4 col-lg-4 wow animated fadeInRight" data-wow-delay="0.25s">
    <div class="panel panel-default">

        <div class="panel-heading">
         
          <h3>Propietario</h3>

        </div>

        <div class="panel-body">
            <div id="contenedor7" style="max-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        
    </div>
</div>
<div class="col-xs-12 col-md-4 col-lg-4 wow animated fadeInRight" data-wow-delay="">

    <div class="panel panel-default">

        <div class="panel-heading">
          
          <h3>Crédito</h3>

        </div>

        <div class="panel-body">

       <div id="contenedor8" style="max-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        
    </div>
</div>
</div> 
</div>
 --> 
{% include "modalogin.html" %}
{% endblock contenido %}

