<div class="botonera">
<a href="/generales"><span class="btn btn-success">
  Datos Generales
</span></a>
<a href="/detalle_casas"><span class="btn btn-success">
  Detalles de las casas
</span></a>
 <a href="/educacion"><span class="btn btn-success">
  Educación
</span></a>
<a href=""><span class="btn btn-success">
  Credito
</span></a>
<a href=""><span class="btn btn-success">
  Corbertura Boscosa
</span></a>
<a href=""><span class="btn btn-success">
  sistema Agroforestal
</span></a>
<a href=""><span class="btn btn-success">
  Producción y Comercialización 
</span></a>
<a href=""><span class="btn btn-success">
  Ingreso Familiar
</span></a>
<a href=""><span class="btn btn-success">
  Seguridad alimentaria
</span></a>
</div>