<div class="botonera">
<a id="ancla" class="btn btn-success" href="/generales">
  Datos Generales
</a>
<a class="btn btn-success" href="/detalle_casas">
  Detalles de las casas
</a>
 <a class="btn btn-success" href="/educacion">
  Educación
</a>
<a class="btn btn-success" href="/credito">
  Credito
</a>
<a class="btn btn-success" href="/tierra">
  Uso de tierra
</a>
<a class="btn btn-success" href="#">
  sistema Agroforestal
</a>
<a class="btn btn-success" href="#">  Producción y Comercialización 
</a>
<a class="btn btn-success" href="#">
  Ingreso Familiar
</a>
<a class="btn btn-success" href="/seguridad_alimentaria">
  Seguridad alimentaria
</a>
<a class="btn btn-success" href="/innovacion">
  Innovaciones
</a>
</div>