<div class="botonera">
<a id="ancla" class="btn btn-success" href="/generales">
  Datos Generales
</a>
<a class="btn btn-success" href="/detalle_casas">
  Detalles de las casas
</a>
 <a class="btn btn-success" href="/educacion">
  Educación
</a>
<a class="btn btn-success" href="/credito">
  Credito
</a>
<a class="btn btn-success" href="/tierra">
  Uso de tierra
</a>
<a class="btn btn-success" href="/cultivos_anuales">
  Ingresos anuales
</a>
<a class="btn btn-success" href="/ingreso_animal">
  Ingresos en producto animal
</a>
<a class="btn btn-success" href="/ingreso_procesados">
  Ingresos en producto procesados
</a>
<a class="btn btn-success" href="/ingreso_negocio">
  Ingresos en servicios negocios
</a>
<a class="btn btn-success" href="/ingreso_saf">
  Ingresos productos SAF
</a>
<a class="btn btn-success" href="/seguridad_alimentaria">
  Seguridad alimentaria
</a>
<a class="btn btn-success" href="/innovacion">
  Innovaciones
</a>
</div>