 <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                <h4 class="modal-title" id="myModalLabel">Inicio de Sesión</h4>
              </div>
              <div class="modal-body">
               
                  <form id="seccion" class="form-horizontal" role="form" action="/entrar/"method="POST" >
                  {% csrf_token %}
                    <div class="form-group separar">
                    
                      <label for="ejemplo_email_3" class="col-md-12 col-lg-4 control-label">Nombre de Usuario</label>
                      <div class="col-md-12 col-lg-6">
                      <div class="input-group">
                      <span class="input-group-addon"><label class="fa fa-user fa-lg"></label></span>
                        {{ form1.username }}
                      </div>
                      </div>
                      
                    </div>


                    <div class="form-group separar">
                      
                      <label for="ejemplo_password_3" class="col-md-12 col-lg-4 control-label">Contraseña</label>
                      <div class="col-md-12 col-lg-6">
                      <div class="input-group">
                      <span class="input-group-addon"><label class="fa fa-key fa-lg"></label></span>
                        {{ form1.password }}
                      </div>
                      </div>
                      
                    </div>

                    <input type="submit" class="btn btn-primary" value="entrar" />
                	<input type="hidden" name="next" value="/" />
                  </form>

            
              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
              </div>
            </div>
          </div>
        </div>