<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Hoja spss{% endblock %}</title>
</head>
<body>
{% block contenido %}
    <table>
        <tr>
            <!-- datos generales -->
            <th>Fecha</th>
            <th>Año de la encuesta</th>
            <th>Nombre del productor</th>
            <th>Municipio</th>
            <th>Comunidad</th>
            <!-- cultivos anuales de la familia -->
            {% if ayuda == '1' %}
                <th>Cultivo</th>
                <th>Area en producción (en Mz)</th>
                <th>Producción total</th>
                <th>Consumo animal</th>
                <th>Auto consumo</th>
                <th>Perdida</th>
                <th>Venta no organizada</th>
                <th>Precio promedio</th>
                <th>Venta organizada</th>
                <th>Precio promedio</th>
            {% endif %}
            {% if ayuda == '2' %}
                <th>Producto</th>
                <th>Produccion </th>
                <th>Auto-consumo</th>
                <th>Perdida</th>
                <th>Venta no organizada</th>
                <th>Precio promedio</th>
                <th>Venta organizada</th>
                <th>Precio promedio</th>
                <th>Maneja</th>
            {% endif %}
            {% if ayuda == '3' %}
                <th>Producto</th>
                <th>Produccion </th>
                <th>Auto-consumo</th>
                <th>Perdida</th>
                <th>Venta no organizada</th>
                <th>Precio promedio</th>
                <th>Venta organizada</th>
                <th>Maneja</th>
            {% endif %}
            {% if ayuda == '4' %}
                <th>Servicios</th>
                <th>Cantidad </th>
                <th>Precio </th>
                <th>Ingresos </th>
                <th>Maneja </th>
                <th>Plan de negocio </th>
            {% endif %}
            {% if ayuda == '5' %}
                <th>Cultivo</th>
                <th>Area en desarrollo (en Mz)</th>
                <th>Area en Producción</th>
                <th>Producción total</th>
                <th>Consumo animal</th>
                <th>Auto consumo</th>
                <th>Perdida</th>
                <th>Venta no organizada</th>
                <th>Precio promedio</th>
                <th>Venta organizada</th>
                <th>Precio promedio</th>
                <th>Rendimientos</th>
            {% endif %}
            {% if ayuda == '6' %}
                <th>Alimento</th>
                <th>Consumo </th>
                <th>Compra </th>
            {% endif %}
            {% if ayuda == '7' %}
                <th>Innovacion</th>
                <th>Aplica </th>
            {% endif %}

        </tr>
    {% for obj in resultados  %}
    <tr>
        {% for data in obj %}
            <td>{{data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
{% endblock contenido %}
</body>
</html>
